<a href="https://colab.research.google.com/github/Gowthamvarma18/AWS-assignment-gowthamvarma-41110430-/blob/main/ass4_GOWTAMVARMA_41110430.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# String
name = "gowtham varma"
print("Original String:", name)
print("Upper Case:", name.upper())
print("Lower Case:", name.lower())
print("Capitalized:", name.capitalize())
print("Replacing 'e' with 'E':", name.replace('e', 'E'))

Original String: gowtham varma
Upper Case: GOWTHAM VARMA
Lower Case: gowtham varma
Capitalized: Gowtham varma
Replacing 'e' with 'E': gowtham varma

In [2]:
# List
L = [1, 2, 3]
print("Original List:", L)
L.extend([5, 6, 7])
print("Extended List:", L)
del L[4]
print("List after removing 5th value:", L)

Original List: [1, 2, 3]
Extended List: [1, 2, 3, 5, 6, 7]
List after removing 5th value: [1, 2, 3, 5, 7]

In [3]:
# Dictionary
d = {'mango': 10, 'banana': 0, 'apple': 15, 'orange': 0, 'pineapple': 20}
print("Original Dictionary:", d)
d = {key: value for key, value in d.items() if value != 0}
print("Dictionary after removing out of stock fruits:", d)
d['mango'] = 15
d['pineapple'] -= 5
print("Updated Dictionary:", d)

Original Dictionary: {'mango': 10, 'banana': 0, 'apple': 15, 'orange': 0, 'pineapple': 20}
Dictionary after removing out of stock fruits: {'mango': 10, 'apple': 15, 'pineapple': 20}
Updated Dictionary: {'mango': 15, 'apple': 15, 'pineapple': 15}

In [4]:
# Using pop, remove in all 3 mutable data types (list, dict, set)
# For list
L = [1, 2, 3]
print("Original List:", L)
L.pop()  # Removes the last element
print("List after pop operation:", L)

Original List: [1, 2, 3]
List after pop operation: [1, 2]

In [5]:
d = {'a': 1, 'b': 2, 'c': 3}
print("Original Dictionary:", d)
removed_item = d.pop('b')
print("Dictionary after pop operation:", d)
print("Removed Item:", removed_item)

Original Dictionary: {'a': 1, 'b': 2, 'c': 3}
Dictionary after pop operation: {'a': 1, 'c': 3}
Removed Item: 2

In [6]:
# For set
s = {1, 2, 3}
print("Original Set:", s)
s.remove(2)
print("Set after remove operation:", s)

Original Set: {1, 2, 3}
Set after remove operation: {1, 3}